@model GlobalSuperstore_P3_27798607.Models.Visuals

@{
    ViewBag.Title = "LocationInsights";
}

<br />
<br />
<div class="well well-sm" align="center">

    <h2>Location Insights</h2>

</div>
<br />
<div align="center">
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="900" height="480" src="https://charts.mongodb.com/charts-itrw324-mvc-app-epfbp/embed/charts?id=8461a351-574f-4015-bf7a-0af5d778ccb2&tenant=26d149e0-7d17-4607-97c6-c6108148351b"></iframe>    
    <br />
    <br />
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="900" height="480" src="https://charts.mongodb.com/charts-itrw324-mvc-app-epfbp/embed/charts?id=f226981f-1de3-45bf-9ae2-29d650810f4a&tenant=26d149e0-7d17-4607-97c6-c6108148351b"></iframe>    
    <br />
    <br />
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="900" height="480" src="https://charts.mongodb.com/charts-itrw324-mvc-app-epfbp/embed/charts?id=b9e43311-1c27-4924-b4ab-7ab1bc7f7e04&tenant=26d149e0-7d17-4607-97c6-c6108148351b"></iframe>
</div>


