@model GlobalSuperstore_P3_27798607.Models.Visuals

@{
    ViewBag.Title = "Orders";
}

<br />
<br />
<div class="well well-sm" align="center">

    <h2>Information on Order History</h2>

</div>
<br />
<div align="center">
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="900" height="480" src="https://charts.mongodb.com/charts-itrw324-mvc-app-epfbp/embed/charts?id=1d3e1806-43bd-4d9a-92a3-906992eb5afb&tenant=26d149e0-7d17-4607-97c6-c6108148351b"></iframe>    <br />
    <br />
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="900" height="480" src="https://charts.mongodb.com/charts-itrw324-mvc-app-epfbp/embed/charts?id=bcc6568a-7c59-4d9d-a7f4-a9257fb61371&tenant=26d149e0-7d17-4607-97c6-c6108148351b"></iframe>    <br />
  </div>
