@model GlobalSuperstore_P3_27798607.Models.Visuals

@{
    ViewBag.Title = "Relationships";
}

<br />
<br />
<div class="well well-sm" align="center">

    <h2>Relationships between area and purchases</h2>

</div>
<br />
<div align="center">
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="900" height="480" src="https://charts.mongodb.com/charts-itrw324-mvc-app-epfbp/embed/charts?id=4e7ce97f-c154-4543-b460-cc59e3d6a84c&tenant=26d149e0-7d17-4607-97c6-c6108148351b"></iframe>
    <br />
    <br />
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="900" height="480" src="https://charts.mongodb.com/charts-itrw324-mvc-app-epfbp/embed/charts?id=8360957a-1d15-426f-9aef-e171dd24d086&tenant=26d149e0-7d17-4607-97c6-c6108148351b"></iframe>
    <br />
    <br />
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="900" height="480" src="https://charts.mongodb.com/charts-itrw324-mvc-app-epfbp/embed/charts?id=30191ceb-babf-44ce-b178-12da0309ade4&tenant=26d149e0-7d17-4607-97c6-c6108148351b"></iframe>
</div>


