@model GlobalSuperstore_P3_27798607.Models.Visuals

@{
    ViewBag.Title = "Trends";
}   
    <br />
    <br />
    <div class="well well-sm" align="center">
        
        <h2>Trends over time</h2>

    </div>
    <br />
    <div align="center">
        <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="900" height="480" src="https://charts.mongodb.com/charts-itrw324-mvc-app-epfbp/embed/charts?id=16051095-cc5b-4848-b2d2-4136b729e78f&tenant=26d149e0-7d17-4607-97c6-c6108148351b"></iframe>
        <br />
        <br />
        <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="900" height="480" src="https://charts.mongodb.com/charts-itrw324-mvc-app-epfbp/embed/charts?id=bd6563ec-2ff8-42a6-9601-92e8322c0a72&tenant=26d149e0-7d17-4607-97c6-c6108148351b"></iframe>

    </div>       
